@import 'Variables';
@import 'Mixins';

.containerHeader {
  @include flexBetween();
  padding: 15px;
}

.containerHeader__title {
  font-size: 20px;
  font-weight: 600;
  color: $color3;
}
.containerHeader__nav--item {
  color: $color5;
  opacity: 0.5;
}
