@import 'Variables';
@import 'Mixins';

.containerHeaderPost {
  @include flexBetween();
  padding: 15px;
}

.containerHeaderPost__title {
  font-size: 20px;
  font-weight: 600;
  color: $color3;
}
.containerHeaderPost__nav--item {
  color: $color5;
  opacity: 0.5;
}
