@import 'Variables';
@import 'Mixins';

.containerHome {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.home {
  @include flexColumn();
}
.home__title {
  font-size: 30px;
  font-weight: 600;
}
