@import 'Variables';
@import 'Mixins';

.containerHome {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.nav {
  @include flexColumnEnd();
}

.home {
  @include flexColumn();
}
