@import 'Variables';
@import 'Mixins';

.containerLogin {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerForm {
  @include flexColumn();
}
.containerForm__item {
  @include flexColumnStart();
  margin-bottom: 15px;
}
.containerForm__item--label {
  margin-bottom: 5px;
  font-weight: 600;
}

.containerForm__item--input {
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: solid grey 1px;
  text-align: start;
  padding-left: 10px;
}

.containerForm__item--input::placeholder {
  color: grey;
  font-style: italic;
}
.containerForm__item--btn {
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: solid rgb(197, 189, 189) 1px;
  text-align: center;
}
