@import 'Variables';
@import 'Mixins';

.containerLogin {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerMain {
  @include flexColumn();
}
.containerMain__title {
  font-size: 20px;
  font-weight: 600;
  color: #ff0080;
}
.containerForm {
  margin-top: 15px;
}

.containerForm__item {
  @include flexColumn();
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: solid grey 1px;
  text-align: start;
  padding-left: 10px;
  margin-bottom: 5px;
}

.containerForm__item::placeholder {
  color: grey;
  font-style: italic;
}
.containerForm__btn {
  width: 220px;
  height: 30px;
  border-radius: 5px;
  border: solid #ff0080 1px;
  background-color: #ff0080;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}
