@import 'Variables';
@import 'Mixins';

.containerPostList {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerPostListHeader__form {
  @include flexColumn();
}

.containerPostListMain {
  @include flexColumn();
}
