@import 'Variables';
@import 'Mixins';

.containerPostList {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerPostListMain {
  @include flexColumn();
}

.containerPostListMain__form--item {
  width: 280px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid $color4 1px;
  text-align: start;
  padding-left: 10px;
  background-color: $color2;
  box-shadow: 1px 1px 2px 1px $color5;
}

.containerPostListMain__form--item::placeholder {
  color: $color5;
  font-style: italic;
}
