@import 'Variables';
@import 'Mixins';

.containerUser {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerUserArt {
  @include flexColumn();
  //   width: 280px;
  margin-top: 15px;
}

.containerUserArt__img {
  width: 280px;
}

.containerUserArt__title {
  font-size: 14px;
  color: $color3;
  margin-top: 10px;
}

.containerUserArt__text {
  font-size: 14px;
  color: $color5;
  margin-top: 10px;
  margin-bottom: 30px;
}
