@import 'Variables';
@import 'Mixins';

.containerUser {
  background-color: $color2;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.containerUserArt {
  @include flexColumn();
  margin-top: 15px;
}

.containerUserArt__circular {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.containerUserArt__circular--img {
  width: 200px;
  height: auto;
}

.containerUserArt__title {
  font-size: 14px;
  color: $color3;
  margin-top: 10px;
}

.containerUserArt__text {
  font-size: 14px;
  color: $color5;
  margin-top: 10px;
  margin-bottom: 30px;
}
